@use "../abstracts/variables";
@use "../abstracts/mixins";

.btn-primary {
  @include mixins.flex-center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 2rem 4rem;

  //   &:hover {
  //     @include mixins.box-shadow;
  //   }
}
