@use "../abstracts/variables";
@use "../abstracts/mixins";

.btn-primary {
  @include mixins.flex-center;
  border: none !important;
  cursor: pointer !important;
  background-color: variables.$primary !important;
  color: variables.$secondary !important;

  &:hover {
    background-color: variables.$secondary !important;
    color: variables.$primary !important;
    border: 1px solid variables.$primary !important;
  }
}

.btn-outline-primary {
  border: 1px solid variables.$primary !important;
  cursor: pointer !important;
  background-color: variables.$secondary !important;
  color: variables.$primary !important;

  &:hover {
    background-color: variables.$primary !important;
    color: variables.$secondary !important;
  }
}
