@use "../abstracts/variables";
@use "../abstracts/mixins";

.btn-primary {
  @include mixins.flex-center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  // padding: variables.$spacers[3] variables.$spacers[2];
  background-color: variables.$secondary;
  color: variables.$primary;

  &:hover {
    background-color: variables.$tertiary !important;
  }
}
