.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid $secondary;
  margin-top: 10rem;

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    color: $primary;
  }
  &__social {
    display: flex;
    gap: 1rem;
    list-style: none;
    & a {
      font-size: 1.5rem;
      text-decoration: none;
      color: $primary;
      &:hover {
        color: $tertiary;
      }
    }
  }
}
