@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "./button";

.navbar {
  background-color: variables.$black !important;
  color: variables.$tertiary !important;
  border-bottom: 1px solid variables.$primary;
  position: sticky;
  top: 0;
  z-index: 10;

  &-brand {
    color: variables.$tertiary !important;
    font-weight: bold;
  }

  &-collapse {
    color: variables.$tertiary !important;
  }

  &-nav {
    color: variables.$tertiary !important;
    font-weight: medium;
  }
}

.nav-item li a {
  color: variables.$tertiary !important;
  font-weight: medium;

  &:hover {
    color: variables.$primary !important;
    text-decoration: underline !important;
    text-underline-offset: 4px !important;
  }
}

.nav-link {
  color: variables.$tertiary !important;

  &.active {
    color: variables.$primary !important;
  }
}
