@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "./button";

.navbar {
  background-color: variables.$background;
  color: variables.$primary;
  border-bottom: 1px solid variables.$primary;

  &__brand {
    color: variables.$primary;
    font-weight: bold;
  }
}
