@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../components/button";
@use "../components/nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  @include mixins.flex-center;
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../public/assets/img/wave.jpg");
  filter: contrast(1.2) blur(0.5px);
  color: variables.$tertiary;

  &__text {
    position: relative;
    z-index: 1;
    text-align: center;

    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 4rem;
      font-weight: 100;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 0;
}
